{% extends 'base.html' %}
{% block title %}Disclaimer{% endblock %}

{% block content %}

<div class="max-w-4xl mx-auto bg-white p-8 rounded-2xl shadow">

    <h1 class="text-3xl font-bold mb-6">Disclaimer</h1>

    <p class="mb-4 text-gray-700">
        All tools on Flaremo Tools are provided for general use only.
    </p>

    <p class="mb-4 text-gray-700">
        We do not guarantee 100% accuracy of results. Use at your own risk.
    </p>

    <p class="text-gray-700">
        We are not responsible for any loss, damage, or issues caused by using our tools.
    </p>

</div>

{% endblock %}